body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    font-family:'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    position: absolute;
    right: 125px;
    background: rgb(20, 20, 20, 0.6);
    color: #00eeff;
    padding: 40px 60px;
    border-radius:20px ;
    box-shadow: 0 0 20px #000;
    font-size: 4rem;
    text-align: center;
    letter-spacing: 2px;

}
.back-video{
    position: absolute;
    right: 0;
    z-index: -1;
}

/*  Responsiveness*/
@media(max-width: 1700px){
    .clock{
        font-size: 3rem;
        padding: 30px 40px;
        position: absolute;
        top: 35%;
        right: 170px;
    }
}
@media(max-width: 768px){
    .clock{
        color: bisque;
        font-size: 2rem;
        padding: 20px 30px;
        position: absolute;
        top: 45%;
        right: 30px;
    }
    .back-video{
        visibility: hidden;
    }
    body{
        background: url("hourglass-2910948_1280.jpg") center/cover no-repeat; 
        background-size: contain;
        position: relative;
    }
    body::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(100.2deg, rgba(255, 255, 255, 0), rgba(250, 159, 114, 0.711));
        z-index: 0;
    }
}
@media(max-width: 480px){
    .clock{
        font-size: 2rem;
        padding: 20px 30px;
        position: absolute;
        top: 45%;
        right: 30px;
    }
    body{
        background: url("hourglass-2910948_1280.jpg") center/cover no-repeat;
        background-size: contain;
        position: relative;
    }
    body::before{
        content: "";
        position: absolute;
        top:0; left:0; right:0; bottom:0;
        background: linear-gradient(89.2deg, rgba(255,255,255,0.6), rgba(248, 180, 146, 0.6));
        z-index: 0;
    }
}

@media (min-aspect-ratio: 1/1) {
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .back-video{
        height: 100%;
        width: auto;
    }
}